---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
const certLogo = await getCollection("certlogo");
---

<Layout title="certLogo">
  <Container>
    <h2 class="text-justifed text-center mt-2">
      As whyloop founder and a Senior DevOps Engineer, I bring with me a wealth
      of experience and expertise.
    </h2>
    <h3 class="text-justifed text-center mt-1">
      Belows are some of the industry certifications I obtained over the past
      years. They are a testament of my commitment to continuously learn,
      improve and deliver high quality solutions.
    </h3>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-3xl mt-12">
      {
        certLogo.map((item) => (
          <div class="group">
            <a href={item.data.verify}>
              <div class="w-full aspect-square">
                <Picture
                  src={item.data.certimg.src}
                  alt={item.data.certimg.alt}
                  sizes="(max-width: 400px) 100vw, 400px"
                  width={400}
                  height={400}
                  loading="eager"
                  class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
                />
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
