---
const company = "WHYLOOP PTE. LTD.";
const UEN = "UEN: 202442383G";
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    {company}
    {UEN}
  </p>
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} WhyLoop. All rights reserved.
  </p>
</footer>
