---
import { Picture } from "astro:assets";
import devopsImage from "assets/devops.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={devopsImage}
      alt="DevOps enginner working"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="w-full rounded object-cover object-center aspect-square"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      On-demand DevOps engineering.
    </h1>
  </div>
</main>
